<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>registor_failed</title>
    <style type="text/css">
        div {
            text-align: center;
            line-height: 200px;
            /*文字水平居中*/
            margin: auto;
            /*div水平居中*/
        }
    </style>
</head>

<body>

    <head>解绑成功</head>
    <br />
    <a href="/client/{{cookie}}">返回主页面</a><br />
    <a href="/static/{{cookie}}/bank_connect.html">关联新账号</a>

</body>

</html>