<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>registor_failed</title>
    <style type="text/css">
        div {
            text-align: center;
            line-height: 200px;
            /*文字水平居中*/
            margin: auto;
            /*div水平居中*/
        }
    </style>
</head>

<body>

    <head>转账失败</head>
    <br />向：{{username}} 转账：{{value}}失败<br />;
    <a href="/client/{{cookie}}">返回主页面</a><br />
    <a href="/static/{{cookie}}/trade.html">继续交易</a><br />
</body>

</html>