<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>registor_failed</title>
    <style type="text/css">
        div {
            text-align: center;
            line-height: 200px;
            /*文字水平居中*/
            margin: auto;
            /*div水平居中*/
        }
    </style>
</head>

<body>
    <div>

        <head>欢迎来到网上银行</head>
        <br />欢迎客户：{{username}}<br />
        <a href='/client/{{cookie}}'>点击进入</a>
    </div>


</body>

</html>